.ext-container {
    display: flex;
    flex-direction: column;
}

.ui-dialog.add-link-dialog .relation-comment {
    margin-top: 20px;
}

.ui-dialog.add-link-dialog .relation-comment-label,
.ui-dialog.add-link-dialog .relation-type-label {
    margin-bottom: 5px;
}
